form {
	width: 100%;
	height: 40vh;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	background-color: rgb(148, 182, 135);
	font-family: 'Lato', sans-serif;
	border-radius: 5px;
}

p {
	text-align: center;
	font-family: 'Lato', sans-serif;
}

h3, button {
	text-align: center;
	grid-column-start: 1;
	grid-column-end: span 2;
	font-family: 'Lato', sans-serif;
}
#foodRunner {
	grid-column-start: 2;
	transform: translateY(-2em)
}
.supportLabel {
	margin-top: 1em;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}
#calculate {
	background-color: rgb(187, 187, 187);
	transition: 250ms;
}
#calculate:hover {
	background-color: rgb(48, 48, 48);
	color: white;
	font-size: large;
}
#calculate:active {
	background-color: black;
	font-size: medium;
}
<<<<<<< HEAD
=======
#foodRunner {
	grid-column-start: 2;
	transform: translateY(-2em)
}
.supportLabel {
	
>>>>>>> f784b45c2b60f9d2619d538cd21aae733c71823e
@media screen 
	and (min-width: 688px) {
		form {
			width: 32vw;
			padding: 1em;
			height: 50vh;
		}
		button {
			width: 6em;
			margin: auto;
			margin-bottom: .2em;
			
		}
		
	}
<<<<<<< HEAD
	@media screen 
		and (min-width: 900px)
		and (max-width: 1600px) {
			form {
				width: 30%;
				height: 60vh;
			}
		}
=======
>>>>>>> f784b45c2b60f9d2619d538cd21aae733c71823e
